.answer-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  row-gap: 18px;
}

.answer-options button {
  background: #9835c9;
  border: 3px solid rgb(192, 48, 197);
  border-radius: 12px;
  box-shadow: 0 0 1em rgb(108, 77, 124);
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  padding: 8px;
  text-shadow: -1px 0 black , 0 1px black , 1px 0 black , 0 -1px black;
  transition: background-color 100ms linear;
}

.answer-options button:hover {
  background: #831bb8;
}

.answer-options button.show-correct-answer {
  background: #1f6b1f;
  border-color: rgb(6, 240, 15);
  box-shadow: 0 0 1em rgb(90, 255, 104);
}

.answer-options button.show-incorrect-answer {
  background: #881e1a;
  border-color: red;
  box-shadow: 0 0 1em rgb(243, 143, 50);
}

.question-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  position: relative;
  text-shadow: -1px 0 black , 0 1px black , 1px 0 black , 0 -1px black;
}

.question-header-category {
  background: #7097ff;
  border: 3px solid #dfd570;
  border-bottom: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 16px;
  padding: 6px 18px;
}

.question-header-question {
  background: #7097ff;
  border: 3px solid #dfd570;
  border-radius: 12px;
  font-size: 24px;
  padding: 24px;
  width: 100%;
}

.question-header-countdown-wrapper {
  bottom: -48px;
  position: absolute;
  text-align: center;
}

.timer {
  align-items: center;
  background: #f5d64a;
  border: 3px solid #fa931c;
  border-radius: 100%;
  display: flex;
  font-size: 36px;
  height: 70px;
  justify-content: center;
  line-height: 0;
  margin: 0;
  padding-top: 3px;
  text-shadow: -1px 0 black , 0 1px black , 1px 0 black , 0 -1px black;
  width: 70px;
}

.timer-danger {
  background: #f73838;
  border-color: #bb0a0a;
  margin: 0;
}
