* {
  margin: 0;
  padding: 0;
}

.total-page {
  background-color: rgb(148, 104, 16);
  display: flex;
  height: 640px;
  width: 100%;
}

.login-container {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  height: 475px;
  justify-content: space-around;
  width: 450px;
}

.login-header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-around;
}

.login-logo {
  height: 200px;
  width: 425px;
}

.login-text {
  font-weight: 700;
}

input {
  padding: 8px 20px;
  width: 150px;
}

button {
  background-color: rgb(201, 145, 42);
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

button:disabled {
  background-color: rgb(226, 194, 134);
}

.butons-login-container {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
