.login-root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login-logo {
  height: 500px;
}

@media ( prefers-reduced-motion : no-preference ) {

  .login-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

}

.login-input {
  background-color: rgb(211, 248, 245);
  border: 3px solid rgb(116, 149, 255);
  border-radius: 6px;
  color: rgb(77, 17, 108);
  font-family: monospace;
  font-weight: 700;
  padding: 6px;
  text-transform: uppercase;
  width: 100%;
}

.login-form {
  align-items: center;
  background-color: rgb(115, 44, 151);
  border: 7px solid rgb(77, 17, 108);
  border-radius: 15px;
  box-shadow: inset 0 0 1em rgb(133, 93, 153) , 0 0 1em rgb(77, 17, 108);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 25px;
}

.login-label {
  align-items: flex-start;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
  row-gap: 8px;
  width: 220px;
}

.login-button {
  background-color: rgb(252, 228, 93);
  border: 3px solid rgb(231, 160, 22);
  border-radius: 25px;
  color: rgb(77, 17, 108);
  cursor: pointer;
  font-family: Architects Daughter , cursive;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.login-button:disabled {
  background-color: rgb(240, 232, 185);
  border: 3px solid rgb(187, 155, 92);
  color: rgb(135, 108, 148);
}

.login-footer {
  margin-top: auto;
  padding: 16px 0;
}

.login-footer-link {
  color: rgb(211, 248, 245);
  font-family: monospace;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-shadow: -1px 0 rgb(116, 149, 255) , 0 1px rgb(116, 149, 255) , 1px 0 rgb(116, 149, 255) , 0 -1px rgb(116, 149, 255);
}

.login-footer-link:hover {
  color: rgb(135, 108, 148);
  text-shadow: -1px 0 rgb(77, 17, 108) , 0 1px rgb(77, 17, 108) , 1px 0 rgb(77, 17, 108) , 0 -1px rgb(77, 17, 108);
}
